extends ../templates/layout

block content 
    h3 Borrar una membresía
    form(action=`/membresias/del/${membresia.membresia_id}`, method="post")
        .mb-3
            label(for="tipo", class="form-label") Tipo:
            input(type="text", name="tipo", value=`${membresia.tipo}`, class="form-control", disabled)
        .mb-3
            label(for="costo", class="form-label") Costo:
            input(type="number", name="costo", value=`${membresia.costo}`, class="form-control", disabled)
        .mb-3
            label(for="duracion_dias", class="form-label") Duración en días:
            input(type="number", name="duracion_dias", value=`${membresia.duracion_dias}`, class="form-control", disabled)
        .mb-3
            label(for="descripcion", class="form-label") Descripción:
            textarea(name="descripcion", class="form-control", disabled)=membresia.descripcion
        input(type="hidden", name="membresia_id", value=`${membresia.membresia_id}`)
        button(type="submit", class="btn btn-danger") Eliminar
        a(href="/membresias", class="btn btn-secondary") Cancelar
