extends ../templates/layout

block content
  h1 Lista de Membresías
  table(class="table table-striped")
    thead
      tr
        th ID
        th Tipo
        th Costo
        th Duración (días)
        th Descripción
        th Acciones
    tbody
      each membresia in membresias
        tr
          td= membresia.membresia_id
          td= membresia.tipo
          td= membresia.costo
          td= membresia.duracion_dias
          td= membresia.descripcion
          td
            a(href=`/membresias/edit/${membresia.membresia_id}`, class="btn btn-warning btn-sm") Editar
            a(href=`/membresias/del/${membresia.membresia_id}`, class="btn btn-danger btn-sm") Eliminar
  a(href="/membresias/add", class="btn btn-success") Añadir Nueva Membresía
