extends ../templates/layout

block content
    div(class="container") 
        h3 Listado de membresías
        table(class="table table-striped")
            thead 
                tr
                    th ID
                    th Tipo
                    th Costo
                    th Duración (días)
                    th Descripción
                    th Fecha de Registro
                    th Borrar
                    th Editar
            tbody 
                each membresia in membresias
                    tr 
                        td=membresia.membresia_id
                        td=membresia.tipo
                        td=membresia.costo
                        td=membresia.duracion_dias
                        td=membresia.descripcion
                        td=membresia.fecha_registro
                        td 
                            a(href=`/membresias/del/${membresia.membresia_id}`, class="btn btn-danger btn-sm") Borrar
                        td 
                            a(href=`/membresias/edit/${membresia.membresia_id}`, class="btn btn-primary btn-sm") Editar
        p 
            a(href="/membresias/add", class="btn btn-success") Añadir una nueva membresía