extends ../templates/layout


block content
  h1 Agregar Nueva Clase
  form(action="/clases/add", method="POST", class="needs-validation", novalidate)
    .mb-3
      label(for="nombre", class="form-label") Nombre de la Clase
      input(type="text", name="nombre", id="nombre", class="form-control", required=true)
    .mb-3
      label(for="descripcion", class="form-label") Descripción
      textarea(name="descripcion", id="descripcion", class="form-control")
    .mb-3
      label(for="capacidad", class="form-label") Capacidad
      input(type="number", name="capacidad", id="capacidad", class="form-control", required=true)
    .mb-3
      label(for="duracion_minutos", class="form-label") Duración (en minutos)
      input(type="number", name="duracion_minutos", id="duracion_minutos", class="form-control", required=true)
    .mb-3
      label(for="entrenador_id", class="form-label") Entrenador
      select(name="entrenador_id", id="entrenador_id", class="form-select", required=true)
        each entrenador in entrenadores
          option(value=entrenador.entrenador_id)= entrenador.nombre + ' ' + entrenador.apellido
    .mb-3
      button(type="submit", class="btn btn-primary") Guardar
    a(href="/clases", class="btn btn-secondary") Volver a la lista de clases
