extends ../templates/layout


block content
  h1 Editar Clase
  form(action=`/clases/edit/${clase.clase_id}`, method="POST")
    div
      label(for="nombre") Nombre de la Clase
      input(type="text", name="nombre", id="nombre", value=clase.nombre, required=true)
    div
      label(for="descripcion") Descripción
      textarea(name="descripcion", id="descripcion")= clase.descripcion
    div
      label(for="capacidad") Capacidad
      input(type="number", name="capacidad", id="capacidad", value=clase.capacidad, required=true)
    div
      label(for="duracion_minutos") Duración (en minutos)
      input(type="number", name="duracion_minutos", id="duracion_minutos", value=clase.duracion_minutos, required=true)
    div
      label(for="entrenador_id") Entrenador
      select(name="entrenador_id", id="entrenador_id", required=true)
        each entrenador in entrenadores
          option(value=entrenador.entrenador_id, selected=entrenador.entrenador_id === clase.entrenador_id)= entrenador.nombre + ' ' + entrenador.apellido
    div
      button(type="submit") Guardar Cambios
    a(href="/clases") Volver a la lista de clases
