extends ../templates/layout


block content
  h1 Lista de Clases
  table
    thead
      tr
        th Nombre
        th Descripción
        th Capacidad
        th Duración (min)
        th Entrenador
        th Fecha de Registro
        th Acciones
    tbody
      each clase in clases
        tr
          td= clase.nombre
          td= clase.descripcion
          td= clase.capacidad
          td= clase.duracion_minutos
          td= clase.entrenador_nombre + ' ' + clase.entrenador_apellido
          td= clase.fecha_registro
          td
            a(href=`/clases/edit/${clase.clase_id}`) Editar
            |
            a(href=`/clases/delete/${clase.clase_id}`) Eliminar
  a(href="/clases/add") Agregar Nueva Clase
