extends ../templates/layout

block content
  h1 Editar Entrenador
  form(action=`/entrenadores/edit/${entrenador.entrenador_id}`, method="POST")
    div
      label(for="nombre") Nombre
      input(type="text", name="nombre", id="nombre", value=entrenador.nombre, required=true)
    div
      label(for="apellido") Apellido
      input(type="text", name="apellido", id="apellido", value=entrenador.apellido, required=true)
    div
      label(for="especialidad") Especialidad
      input(type="text", name="especialidad", id="especialidad", value=entrenador.especialidad)
    div
      label(for="salario") Salario
      input(type="number", name="salario", id="salario", value=entrenador.salario, step="0.01")
    div
      label(for="fecha_contratacion") Fecha de Contratación
      input(type="date", name="fecha_contratacion", id="fecha_contratacion", value=entrenador.fecha_contratacion)
    div
      button(type="submit") Guardar Cambios
    a(href="/entrenadores") Volver a la lista