
extends ../templates/layout

block content
  h1 Lista de Entrenadores
  table
    thead
      tr
        th Nombre
        th Apellido
        th Especialidad
        th Salario
        th Fecha de Contratación
        th Acciones
    tbody
      each entrenador in entrenadores
        tr
          td= entrenador.nombre
          td= entrenador.apellido
          td= entrenador.especialidad
          td= entrenador.salario
          td= entrenador.fecha_contratacion
          td
            a(href=`/entrenadores/edit/${entrenador.entrenador_id}`) Editar
            |
            a(href=`/entrenadores/delete/${entrenador.entrenador_id}`) Eliminar
  a(href="/entrenadores/add") Agregar Nuevo Entrenador
