extends ../templates/layout

block content
    div(class="container") 
        h1 Lista de Entrenadores
        table(class="table table-striped")
            thead
                tr
                    th Nombre
                    th Apellido
                    th Especialidad
                    th Salario
                    th Fecha de Contratación
                    th Acciones
            tbody
                each entrenador in entrenadores
                    tr
                        td= entrenador.nombre
                        td= entrenador.apellido
                        td= entrenador.especialidad
                        td= entrenador.salario
                        td= entrenador.fecha_contratacion
                        td
                            a(href=`/entrenadores/edit/${entrenador.entrenador_id}`, class="btn btn-primary btn-sm") Editar
                            |
                            a(href=`/entrenadores/del/${entrenador.entrenador_id}`, class="btn btn-danger btn-sm") Eliminar
        a(href="/entrenadores/add", class="btn btn-success") Agregar Nuevo Entrenador