extends ../templates/layout

block content 
    h3 Borrar una inscripción a membresía
    div(class="container") 
        form(action=`/inscripciones_membresias/del/${inscripcion.inscripcion_id}`, method="post") 
            div(class="form-group")
                label(for="cliente_id") Cliente ID:
                input(type="text", name="cliente_id", value=`${inscripcion.cliente_id}`, class="form-control", disabled)
            div(class="form-group")
                label(for="membresia_id") Membresía ID:
                input(type="text", name="membresia_id", value=`${inscripcion.membresia_id}`, class="form-control", disabled)
            div(class="form-group")
                label(for="fecha_inicio") Fecha de inicio:
                input(type="text", name="fecha_inicio", value=`${inscripcion.fecha_inicio}`, class="form-control", disabled)
            div(class="form-group")
                label(for="fecha_fin") Fecha de fin:
                input(type="text", name="fecha_fin", value=`${inscripcion.fecha_fin}`, class="form-control", disabled)
            div(class="form-group")
                label(for="estado") Estado:
                input(type="text", name="estado", value=`${inscripcion.estado}`, class="form-control", disabled)
            input(type="hidden", name="inscripcion_id", value=`${inscripcion.inscripcion_id}`)
            button(type="submit", class="btn btn-danger") Eliminar