extends ../templates/layout

block content 
    h3 Editar una inscripción a membresía
    div(class="container") 
        form(action=`/inscripciones_membresias/edit/${inscripcion.inscripcion_id}`, method="post") 
            div(class="form-group")
                label(for="cliente_id") Cliente ID:
                input(type="number", name="cliente_id", value=`${inscripcion.cliente_id}`, class="form-control")
            div(class="form-group")
                label(for="membresia_id") Membresía ID:
                input(type="number", name="membresia_id", value=`${inscripcion.membresia_id}`, class="form-control")
            div(class="form-group")
                label(for="fecha_inicio") Fecha de inicio:
                input(type="text", name="fecha_inicio", value=`${inscripcion.fecha_inicio}`, class="form-control", disabled)
            div(class="form-group")
                label(for="fecha_fin") Fecha de fin:
                input(type="date", name="fecha_fin", value=`${inscripcion.fecha_fin}`, class="form-control")
            div(class="form-group")
                label(for="estado") Estado:
                select(name="estado", class="form-control")
                    option(value="activa", selected=inscripcion.estado === 'activa') Activa
                    option(value="inactiva", selected=inscripcion.estado === 'inactiva') Inactiva
            input(type="hidden", name="inscripcion_id", value=`${inscripcion.inscripcion_id}`)
            button(type="submit", class="btn btn-primary") Guardar cambios