extends ../templates/layout

block content 
    h3 Borrar un cliente
        div 
            form(action=`/clientes/del/${cliente.cliente_id}`, method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre", value=`${cliente.nombre}`, disabled)
                br
                label(for="apellidos") Apellidos:
                input(type="text", name="apellidos", value=`${cliente.apellidos}`, disabled)
                br
                label(for="telefono") Teléfono:
                input(type="text", name="telefono", value=`${cliente.telefono}`, disabled)
                br
                label(for="email") Email:
                input(type="email", name="email", value=`${cliente.email}`, disabled)
                br
                label(for="direccion") Dirección:
                input(type="text", name="direccion", value=`${cliente.direccion}`, disabled)
                br
                label(for="fecha_nacimiento") Fecha de nacimiento:
                input(type="date", name="fecha_nacimiento", value=`${cliente.fecha_nacimiento}`, disabled)
                br
                input(type="hidden", name="cliente_id", value=`${cliente.cliente_id}`)
                input(type="submit", value="Eliminar")
