extends ../templates/layout

block content 
    h3 Borrar un cliente
    form(action=`/clientes/del/${cliente.cliente_id}`, method="post")
        .mb-3
            label(for="nombre", class="form-label") Nombre:
            input(type="text", name="nombre", value=`${cliente.nombre}`, class="form-control", disabled)
        .mb-3
            label(for="apellidos", class="form-label") Apellidos:
            input(type="text", name="apellidos", value=`${cliente.apellidos}`, class="form-control", disabled)
        .mb-3
            label(for="telefono", class="form-label") Teléfono:
            input(type="text", name="telefono", value=`${cliente.telefono}`, class="form-control", disabled)
        .mb-3
            label(for="email", class="form-label") Email:
            input(type="email", name="email", value=`${cliente.email}`, class="form-control", disabled)
        .mb-3
            label(for="direccion", class="form-label") Dirección:
            input(type="text", name="direccion", value=`${cliente.direccion}`, class="form-control", disabled)
        .mb-3
            label(for="fecha_nacimiento", class="form-label") Fecha de nacimiento:
            input(type="date", name="fecha_nacimiento", value=`${cliente.fecha_nacimiento}`, class="form-control", disabled)
        input(type="hidden", name="cliente_id", value=`${cliente.cliente_id}`)
        button(type="submit", class="btn btn-danger") Eliminar
        a(href="/clientes", class="btn btn-secondary") Cancelar
