extends ../templates/layout

block content 
    h3 Editar un cliente
        div 
            form(action=`/clientes/edit/${cliente.cliente_id}`, method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre", value=`${cliente.nombre}`)
                br
                label(for="apellidos") Apellidos:
                input(type="text", name="apellidos", value=`${cliente.apellidos}`)
                br
                label(for="telefono") Teléfono:
                input(type="text", name="telefono", value=`${cliente.telefono}`)
                br
                label(for="email") Email:
                input(type="email", name="email", value=`${cliente.email}`)
                br
                label(for="direccion") Dirección:
                input(type="text", name="direccion", value=`${cliente.direccion}`)
                br
                label(for="fecha_nacimiento") Fecha de nacimiento:
                input(type="date", name="fecha_nacimiento", value=`${cliente.fecha_nacimiento}`)
                br
                input(type="hidden", name="cliente_id", value=`${cliente.cliente_id}`)
                input(type="submit", value="Guardar cambios")
